{% extends 'base.html' %}

{% block title %}LOGIN{% endblock title %}


{% block content %}
<form class="row  g-3 "   method="POST" >
  <div class="col-auto" >
    <label for="name" >NAME</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="ENTER NAME">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </div>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock content %}
